<h4 class="text-left">{%= __("") %}  {%= filters.party %}</h4>
<h5 class="text-left">{%= filters.party_type %} {%= __("Due List as of ") %} {%= moment(filters.report_date).format('MMMM Do, YYYY') %}</h5>

{% var balance_row = data.slice(-1).pop() ; 
	   var range1 = report.columns[10].label;
	   var range2 = report.columns[11].label;
	   var range3 = report.columns[12].label;
	   var range4 = report.columns[13].label;
	   var range5 = report.columns[14].label;
%}
{% if(balance_row && filters.party_type == "Customer" && filters.party) { %}
<table class="table table-bordered table-condensed table-sm small">
	<caption class="text-right">(Amount in {%= data[0][__("currency")] || "" %})</caption>
        <colgroup>
            <col style="width: 30mm;">
            <col style="width: 18mm;">
            <col style="width: 18mm;">
            <col style="width: 18mm;">
            <col style="width: 18mm;">
            <col style="width: 18mm;">
            <col style="width: 18mm;">
        </colgroup>

	<thead>
		<tr>
			<th>{%= __(" ") %}</th>
			<th>{%= __(range1) %}</th>
			<th>{%= __(range2) %}</th>
			<th>{%= __(range3) %}</th>
			<th>{%= __(range4) %}</th>
			<th>{%= __(range5) %}</th>
			<th>{%= __("Total") %}</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>{%= __("Total Outstanding") %}</td>
			<td class="text-right">{%= balance_row[range1] %}</td>
			<td class="text-right">{%= format_currency(balance_row[range2]) %}</td>
			<td class="text-right">{%= format_currency(balance_row[range3]) %}</td>
			<td class="text-right">{%= format_currency(balance_row[range4]) %}</td>
			<td class="text-right">{%= format_currency(balance_row[range5]) %}</td>
			<td class="text-right">
				{%= format_currency(flt(balance_row[__("Outstanding Amount")]), data[data.length-1]["currency"]) %}
				</td>
		</tr>
	</tbody>

</table>
{% } %}
<div style="min-height:10px; max-height:10px;">
<table class="table table-bordered table-condensed table-sm small">
        <colgroup>
            <col style="width: 18mm;">
            <col style="width: 18mm;">
            <col style="width: 22mm;">
            <col style="width: 22mm;">
        </colgroup>

	<thead style="display: table-header-group;">
		<tr>
			<th>{%= __("Date") %}</th>
			<th>{%= __("Invoice No.") %}</th>
			<th>{%= __("Invoiced Amount") %}</th>
			<th>{%= __("Outstanding Amount") %}</th>
		</tr>
	</thead>
	<tbody>
	{% for(var i=0, l=data.length; i<l; i++) { %}
		<tr>
		{% if(data[i][__("Customer")] || data[i][__("Supplier")]) { %}

			<td>{%= frappe.datetime.str_to_user(data[i][__("Posting Date")]) %}</td>
			<td>
				{%=  data[i][__("Voucher No")] %}</td>
			<td class="text-right">
				{%= format_currency(data[i][__("Invoiced Amount")], data[i]["currency"]) %}</td>
			<td class="text-right">
				{%= format_currency(data[i][__("Outstanding Amount")], data[i]["currency"]) %}</td>
		{% } else { %}

		{% } %}
		</tr>
	{% } %}
	{% if(balance_row ) { %}
		<tr class="tristar-footer">
			<th></th>
			<th>{%= __("Total") %}</th>
			<th class="text-right">
				{%= format_currency(flt(balance_row[__("Invoiced Amount")]), data[data.length-1]["currency"]) %}
				</th>
			<th class="text-right">
				{%= format_currency(flt(balance_row[__("Outstanding Amount")]), data[data.length-1]["currency"]) %}
				</th>
		</tr>
	{% } %}
	</tbody>
</table>
