<h4 class="text-left">{%= __("Statement of Account Summary as of ") %} {%= moment(filters.report_date).format('MMMM Do, YYYY') %}</h4>
{% if(filters.cost_center) { %}
<span style="width: 30mm;">{%= __("Cost Center") %} : </span> {%= filters.cost_center %} <br>
{% } %}
{% if(filters.sales_person) { %}
<span style="width: 30mm;">{%= __("Sales Person") %} : </span> {%= filters.sales_person %}
{% } %}

<div style="min-height:10px; max-height:10px;">
<table class="table table-bordered table-condensed table-sm small">
	<caption class="text-right">(Amount in {%= data[0][__("currency")] || "" %})</caption>
        <colgroup>
            <col style="width: 30mm;">
            <col style="width: 20mm;">
            <col style="width: 20mm;">
            <col style="width: 20mm;">
            <col style="width: 20mm">
        </colgroup>

	<thead style="display: table-header-group;">
		<tr>
			<th>{%= __("Customer") %}</th>
			<th>{%= __("Total Invoice Amt") %}</th>
			<th>{%= __("Total Outstanding Amt") %}</th>
			<th>{%= __("Total PDC Amt") %}</th>
			<th>{%= __("Net Outstanding Amt") %}</th>
		</tr>
	</thead>
	<tbody>
	{% for(var i=0, l=data.length; i<l; i++) { %}
		<tr>
			<td>{%= data[i][__("Customer")] %}</td>
			<td class="text-right">
				{%= format_currency(data[i][__("Total Invoice Amt")], data[i]["currency"]) %}</td>
			<td class="text-right">
				{%= format_currency(data[i][__("Total Outstanding Amt")], data[i]["currency"]) %}</td>
			<td class="text-right">
				{%= format_currency(data[i][__("Total PDC Amt")], data[i]["currency"]) %}</td>
			<td class="text-right">
				{%= format_currency(flt(data[i][__("Total Outstanding Amt")]-data[i][__("Total PDC Amt")]), data[data.length-1]["currency"]) %}</td>


		</tr>
	{% } %}
	</tbody>
</table>

<div class="page-break"></div>
{% 	
	   var range1 = report.columns[4].label;
	   var range2 = report.columns[5].label;
	   var range3 = report.columns[6].label;
	   var range4 = report.columns[7].label;
	   var range5 = report.columns[8].label;
%}

<h4 class="text-left">{%= __("Receivable Ageing Summary as of ") %} {%= moment(filters.report_date).format('MMMM Do, YYYY') %}</h4>
{% if(filters.cost_center) { %}
<span style="width: 30mm;">{%= __("Cost Center") %} : </span> {%= filters.cost_center %} <br>
{% } %}
{% if(filters.sales_person) { %}
<span style="width: 30mm;">{%= __("Sales Person") %} : </span> {%= filters.sales_person %}
{% } %}

<div style="min-height:10px; max-height:10px;">

<table class="table table-bordered table-condensed table-sm small">
	<caption class="text-right">(Amount in {%= data[0][__("currency")] || "" %})</caption>
        <colgroup>
            <col style="width: 30mm;">
            <col style="width: 15mm;">
            <col style="width: 15mm;">
            <col style="width: 15mm;">
            <col style="width: 15mm;">
            <col style="width: 15mm">
        </colgroup>

	<thead style="display: table-header-group;">
		<tr>
			<th>{%= __("Customer") %}</th>
			<th>{%= __(range1) %}</th>
			<th>{%= __(range2) %}</th>
			<th>{%= __(range3) %}</th>
			<th>{%= __(range4) %}</th>
			<th>{%= __(range5) %}</th>
		</tr>
	</thead>
	<tbody>
	{% for(var i=0, l=data.length; i<l; i++) { %}
		<tr>
			<td>{%= data[i][__("Customer")] %}</td>
			<td class="text-right">
				{%= format_currency(data[i][__(range1)], data[i]["currency"]) %}</td>
			<td class="text-right">
				{%= format_currency(data[i][__(range2)], data[i]["currency"]) %}</td>
			<td class="text-right">
				{%= format_currency(data[i][__(range3)], data[i]["currency"]) %}</td>
			<td class="text-right">
				{%= format_currency(data[i][__(range4)], data[i]["currency"]) %}</td>
			<td class="text-right">
				{%= format_currency(data[i][__(range5)], data[i]["currency"]) %}</td>

		</tr>
	{% } %}
	</tbody>
</table>
